/.metadata/
/.recommenders/
/build
*/target/*
*/target/**
/target/
/target
target/
/RemoteSystemsTempFiles/
/pom.properties/
/pom.properties
pom.properties/
/MANIFEST.MF
/MANIFEST.MF/
MANIFEST.MF/
/.settings/